.sa-table__detail-row.sa-table__detail-row.sa-table__detail-row.sa-table__detail-row {
  background-color: $detail-color;
}

.sa-table__detail-table {
  width: 100%;
  border-collapse: collapse;
  border-right: 1px solid $border-color;
  border-bottom: none;
}

.sa-table__detail {
  border-top: 1px solid $border-color;
  td {
    box-sizing: border-box;
    padding: 20px;
    // border-left: 1px solid $border-color;
    border-left: none;
    white-space: initial;
  }

  td:first-child {
    width: 267px;
    border-left: none;
    font-weight: bold;
  }

  td:nth-child(2) {
    width: 208px;
  }
}
.sa-table__btn {
  height: 34px;
  width: 154px;
  font-size: $root-font-size;
  font-weight: bold;
  background-color: transparent;
  box-sizing: border-box;
  border: solid 2px;
  border-radius: 17px;
  padding: 0;
  outline: none;
}

.sa-table__btn--small {
  width: 99px;
}
.sa-table__btn--gray {
  border-color: $text-gray;
  color: $text-gray;
  &:hover {
    background-color: $backgrond-gray;
    color: $text-color-inverse;
  }
}
.sa-table__btn--green {
  border-color: $main-color;
  color: $main-color;
  &:hover {
    background-color: $main-color;
    color: $text-color-inverse;
  }
}
.sa-table__btn--red {
}
