$main-color: #1ab394;
$background-color: #f7f7f7;

$text-color: #404040;
$text-color-inverse: #ffffff;
$text-gray: #a0a0a0;
$backgrond-gray: #9b9b9b;
$border-color: #d4d4d4;
$scroll-color: #e2e2e2;
$svg-color: rgba(#9f9f9f, 0.4);
$svg-hover-color: #9f9f9f;
$detail-color: rgba($background-color, 0.5);
$root-font-size: 14px;
