.sa-date-range {
  display: flex;
  align-items: center;
  align-self: stretch;
  align-content: center;
  gap: 16px var(--sjs2-spacing-x200, 16px);
  flex-wrap: wrap;
}

.sa-date-range-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.sa-date-range_editors {
  display: flex;
  align-items: center;
  gap: var(--sjs2-spacing-x150, 12px);
}

.sa-date-range_editor {
  display: flex;
}

.sa-date-range_editor-formbox {
  display: flex;
  padding: var(--sjs2-layout-control-formbox-small-vertical, 4px) var(--sjs2-layout-control-formbox-small-horizontal, 4px);
  align-items: flex-start;
  gap: var(--sjs2-layout-control-formbox-small-gap, 4px);
  align-self: stretch;
  border-radius: var(--sjs2-radius-semantic-form, 8px);
  background: var(--sjs2-color-control-formbox-default-bg, rgba(28, 27, 32, 0.05));
  outline: var(--sjs2-border-offset-x-form-default, 0) var(--sjs2-border-offset-y-form-default, 0) var(--sjs2-border-blur-form-default, 0) var(--sjs2-border-spread-form-default, 1px) var(--sjs2-color-control-formbox-default-border, #D4D4D4) inset;

  &:focus-visible {
    background: var(--sjs2-color-control-formbox-focused-bg, #F5F5F5);
    box-shadow: var(--sjs2-border-offset-x-form-focused, 0) var(--sjs2-border-offset-y-form-focused, 0) var(--sjs2-border-blur-form-focused, 0) var(--sjs2-border-spread-form-focused, 2px) var(--sjs2-color-control-formbox-focused-border, #19B394) inset;
  }
}

.sa-range-error {
  display: none;
  height: 40px;
  align-items: flex-start;
  align-self: stretch;
}

.sa-range-error_panel {
  display: flex;
  padding: var(--sjs2-layout-control-message-small-vertical, 8px) var(--sjs2-layout-control-message-small-horizontal, 12px);
  align-items: center;
  gap: var(--sjs2-layout-control-message-small-gap, 8px);
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--sjs2-radius-semantic-form, 8px);
  background: var(--sjs2-color-control-message-error-bg, rgba(229, 10, 62, 0.10));

}
.sa-range-error_text {
  flex: 1 0 0;
  color: var(--sjs2-color-control-message-error-text, #1C1B20);

  /* sjs2/typography/default */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}
.sa-range-error_icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  use {
    fill: var(--sjs2-color-control-message-error-icon, #C30935);
  }
}

.sa-date-range--invalid .sa-range-error{
  display: flex;
  padding-top: var(--sjs2-layout-control-message-small-spacer, 8px);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.sa-date-range_editor--invalid .sa-date-range_editor-formbox {
  background: var(--sjs2-color-control-formbox-invalid-bg, #F5F5F5);
  box-shadow: var(--sjs2-border-offset-x-form-invalid, 0) var(--sjs2-border-offset-y-form-invalid, 0) var(--sjs2-border-blur-form-invalid, 0) var(--sjs2-border-spread-form-invalid, 2px) var(--sjs2-color-control-formbox-invalid-border, #E50A3E) inset;  
}

.sa-date-range_editor-content {
  display: flex;
  padding: var(--sjs2-layout-control-input-small-content-vertical, 4px) var(--sjs2-layout-control-input-small-content-horizontal, 8px);
  align-items: flex-start;
  flex: 1 0 0;
}

.sa-date-range_editor-input {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--sjs2-color-control-input-default-value, #1C1B20);
  text-overflow: ellipsis;
  background: transparent;
  border: none;
  outline: none;

  /* sjs2/typography/default */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-vertical-divider {
  display: flex;
  width: 1px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  .sa-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--sjs2-color-border-basic-secondary, #D4D4D4);
  }
}
@media screen and (max-width: 1000px) {
  .sa-vertical-divider {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .sa-vertical-divider2 {
    display: none;
  }
}

.sa-horizontal-divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  .sa-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    height: var(--sjs2-border-width-static-x100, 1px);
    background: var(--sjs2-color-border-basic-secondary, #D4D4D4);
  }
}


.sa-date-range_chips {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px var(--sjs2-spacing-x100, 8px);
  align-self: stretch;
  flex-wrap: wrap;
}

.sa-date-range_chip {
  display: flex;
  min-width: var(--sjs2-size-semantic-x-small, 32px);
  align-items: center;
  cursor: pointer;
}

.sa-date-range_chip-box {
  display: flex;
  min-width: var(--sjs2-size-semantic-x-small, 32px);
  padding: var(--sjs2-layout-control-action-small-box-vertical, 8px) var(--sjs2-layout-control-action-small-box-horizontal, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--sjs2-layout-control-action-small-box-gap, 0);
  border-radius: var(--sjs2-radius-control-action, 8px);
  outline: 1px solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
  background: var(--sjs2-color-bg-basic-primary, #FFF);

  &:hover {
    border-radius: var(--sjs2-radius-control-action, 8px);
    outline: 1px solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
    background: var(--sjs2-color-bg-basic-primary-dim, rgba(28, 27, 32, 0.05));
  }
}

.sa-date-range_chip--active .sa-date-range_chip-box {
  border-radius: var(--sjs2-radius-control-action, 8px);
  outline: var(--sjs2-border-width-x200, 2px) solid var(--sjs2-color-border-brand-primary, #19B394);
  background: var(--sjs2-color-bg-basic-primary, #FFF);
  
  &:hover {
    border-radius: var(--sjs2-radius-control-action, 8px);
    outline: var(--sjs2-border-width-x200, 2px) solid var(--sjs2-color-border-brand-primary, #19B394);
    background: var(--sjs2-color-bg-brand-tertiary-dim, rgba(25, 179, 148, 0.10));
  }
}

.sa-date-range_chip-label {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);
  text-align: center;
  display: flex;
  padding: var(--sjs2-layout-control-action-small-label-vertical, 0) var(--sjs2-layout-control-action-small-label-horizontal, 6px);
  justify-content: center;
  align-items: center;

  /* sjs2/typography/default */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-date-range_chip--active .sa-date-range_chip-label {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);
  text-align: center;

  /* sjs2/typography/default-strong */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-count {
  display: flex;
  padding: var(--sjs2-spacing-x100, 8px) 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sa-count_text {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  /* sjs2/typography/default-strong */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}
