@use "../typography-mixins.scss" as *;

.sa-date-range {
  display: flex;
  align-items: center;
  align-self: stretch;
  align-content: center;
  gap: 16px var(--sjs2-spacing-x200, 16px);
  flex-wrap: wrap;
}

.sa-date-range-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  max-width: min-content;
}

.sa-date-range_editors {
  display: flex;
  align-items: center;
  gap: var(--sjs2-spacing-x150, 12px);
}

.sa-date-range_editor {
  display: flex;
}

.sa-date-range_editor-formbox {
  display: flex;
  padding: var(--sjs2-layout-control-formbox-small-vertical, 4px) var(--sjs2-layout-control-formbox-small-horizontal, 4px);
  align-items: flex-start;
  gap: var(--sjs2-layout-control-formbox-small-gap, 4px);
  align-self: stretch;
  border-radius: var(--sjs2-radius-semantic-form, 8px);
  background: var(--sjs2-color-control-formbox-default-bg, rgba(28, 27, 32, 0.05));
  outline: var(--sjs2-border-offset-x-form-default, 0) var(--sjs2-border-offset-y-form-default, 0) var(--sjs2-border-blur-form-default, 0) var(--sjs2-border-spread-form-default, 1px) var(--sjs2-color-control-formbox-default-border, #D4D4D4) inset;

  &:focus-visible {
    background: var(--sjs2-color-control-formbox-focused-bg, #F5F5F5);
    box-shadow: var(--sjs2-border-offset-x-form-focused, 0) var(--sjs2-border-offset-y-form-focused, 0) var(--sjs2-border-blur-form-focused, 0) var(--sjs2-border-spread-form-focused, 2px) var(--sjs2-color-control-formbox-focused-border, #19B394) inset;
  }
}

.sa-date-range_include-today {
  display: flex;
  padding: var(--sjs2-spacing-x100, 8px) 0;
  flex-direction: column;
  align-items: flex-start;
}

.sa-date-range_include-today-checkbox {
  display: flex;
  align-items: flex-start;
  gap: var(--sjs2-spacing-x100, 8px);
  align-self: stretch;
}

.sa-date-range_include-today-button {
  display: flex;
  width: var(--sjs2-size-x300, 24px);
  height: var(--sjs2-size-x300, 24px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--sjs2-radius-control-checkbox, 4px);
  background: var(--sjs2-color-control-check-false-default-bg, #F5F5F5);
  box-shadow: var(--sjs2-border-offset-x-form-default, 0) var(--sjs2-border-offset-y-form-default, 0) var(--sjs2-border-blur-form-default, 0) var(--sjs2-border-spread-form-default, 1px) var(--sjs2-color-control-check-false-default-border, #D4D4D4) inset;

  .sa-date-range_include-today-check {
    display: none;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}


.sa-date-range_include-today-checkbox--checked {
  background: var(--sjs2-color-control-check-true-default-bg, #19B394);
  box-shadow: var(--sjs2-border-offset-x-form-default, 0) var(--sjs2-border-offset-y-form-default, 0) var(--sjs2-border-blur-form-default, 0) var(--sjs2-border-spread-form-default, 1px) var(--sjs2-color-control-check-true-default-border, #19B394) inset;
  
  .sa-date-range_include-today-check {
    display: block;
    fill: var(--sjs2-color-control-check-true-default-icon, #FFF);
  }
}

.sa-date-range_include-today-caption {
  display: flex;
  align-items: flex-start;
  gap: var(--sjs2-spacing-x050, 4px);
  align-self: stretch;
}

.sa-date-range_include-today-caption-text {
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);

  @include sjs2--typography--default;
}

.sa-date-range_dropdown {
  align-self: self-start;

  .sa-dropdown-header-content {
    padding: var(--sjs2-layout-control-input-small-content-vertical, 4px)
      var(--sjs2-layout-control-input-small-content-horizontal, 8px);
  }

  .sa-dropdown-action {
    padding: var(--sjs2-layout-control-action-x-small-box-vertical, 4px)
      var(--sjs2-layout-control-action-x-small-box-horizontal, 4px);
  }
}

.sa-range-error {
  display: none;
  align-items: flex-start;
  align-self: stretch;
}

.sa-range-error_panel {
  display: flex;
  padding: var(--sjs2-layout-control-message-small-vertical, 8px) var(--sjs2-layout-control-message-small-horizontal, 12px);
  align-items: flex-start;
  gap: var(--sjs2-layout-control-message-small-gap, 8px);
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--sjs2-radius-semantic-form, 8px);
  background: var(--sjs2-color-control-message-error-bg, rgba(229, 10, 62, 0.10));
}
.sa-range-error_text {
  flex: 1 0 0;
  color: var(--sjs2-color-control-message-error-text, #1C1B20);

  @include sjs2--typography--default;
}

.sa-date-range--invalid .sa-range-error {
  display: flex;
  padding-top: var(--sjs2-layout-control-message-small-spacer, 8px);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.sa-date-range_editor--invalid .sa-date-range_editor-formbox {
  background: var(--sjs2-color-control-formbox-invalid-bg, #F5F5F5);
  box-shadow: var(--sjs2-border-offset-x-form-invalid, 0) var(--sjs2-border-offset-y-form-invalid, 0) var(--sjs2-border-blur-form-invalid, 0) var(--sjs2-border-spread-form-invalid, 2px) var(--sjs2-color-control-formbox-invalid-border, #E50A3E) inset;  
}

.sa-date-range_editor-content {
  display: flex;
  padding: var(--sjs2-layout-control-input-small-content-vertical, 4px) var(--sjs2-layout-control-input-small-content-horizontal, 8px);
  align-items: flex-start;
  flex: 1 0 0;
}

.sa-date-range_editor-input {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--sjs2-color-control-input-default-value, #1C1B20);
  text-overflow: ellipsis;
  background: transparent;
  border: none;
  outline: none;

  @include sjs2--typography--default;
}

.sa-vertical-divider {
  display: flex;
  width: 1px;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  .sa-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--sjs2-color-border-basic-secondary, #D4D4D4);
  }
}
@media screen and (max-width: 600px) {
  .sa-vertical-divider {
    display: none;
  }
}

.sa-horizontal-divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  .sa-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    height: var(--sjs2-border-width-static-x100, 1px);
    background: var(--sjs2-color-border-basic-secondary, #D4D4D4);
  }
}

.sa-count {
  display: flex;
  padding: var(--sjs2-spacing-x100, 8px) 0;
  justify-content: center;
  align-items: center;
  align-self: self-start;
  gap: 10px;
}

.sa-count_text {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  @include sjs2--typography--default-strong;
}
