.sa-toggle-container {
  display: flex;
  gap: var(--sjs2-spacing-x100, 8px);

  @media screen and (max-width: 600px) {
    width: 100%;
    justify-content: end;
  }
}

.sa-toggle-element {
  display: flex;
  padding: var(--sjs2-spacing-x075, 6px);
  width: calc(2 * var(--sjs2-size-x150, 12px) + var(--sjs2-spacing-x050, 4px));
  align-items: center;
  gap: var(--sjs2-spacing-x050, 4px);
  transition: background-color 0.3s ease;

  border-radius: var(--sjs2-radius-control-toggle, 9999px);
  outline: var(--sjs2-border-width-default, 1px) solid var(--sjs2-color-control-toggle-false-default-border, #D4D4D4);
  background: var(--sjs2-color-control-toggle-false-default-bg, rgba(28, 27, 32, 0.05));

  /* sjs2/shadow/inner */
  box-shadow: var(--sjs2-shadow-size-inner-offset-x, 0) var(--sjs2-shadow-size-inner-offset-y, 0) var(--sjs2-shadow-size-inner-blur, 0) var(--sjs2-shadow-size-inner-spread, 1px) var(--sjs2-shadow-color-inner, #D4D4D4) inset;

  &:hover {
    outline: var(--sjs2-border-width-default, 1px) solid var(--sjs2-color-control-toggle-false-hovered-border, #D4D4D4);
    background: var(--sjs2-color-control-toggle-false-hovered-bg, rgba(28, 27, 32, 0.10));

    .sa-toggle-handle { 
      outline: var(--ctr-toggle-button-thumb-border-width, 0) solid var(--sjs2-color-control-toggle-false-hovered-icon, rgba(28, 27, 32, 0.60));
      background: var(--sjs2-color-control-toggle-false-hovered-icon, rgba(28, 27, 32, 0.60));
    }
  }

  &:focus {
    outline: var(--sjs2-border-width-focused, 2px) solid var(--sjs2-color-control-toggle-false-focused-border, #19B394);
    background: var(--sjs2-color-control-toggle-false-focused-bg, #F5F5F5);

    .sa-toggle-handle { 
      outline: var(--ctr-toggle-button-thumb-border-width, 0) solid var(--sjs2-color-control-toggle-false-focused-icon, rgba(28, 27, 32, 0.60));
      background: var(--sjs2-color-control-toggle-false-focused-icon, rgba(28, 27, 32, 0.60));
    }
  }
}

.sa-toggle-element.active {
  outline: var(--sjs2-border-width-default, 1px) solid var(--sjs2-color-control-toggle-true-default-border, #19B394);
  background: var(--sjs2-color-control-toggle-true-default-bg, #19B394);

  &:hover {
    outline: var(--sjs2-border-width-default, 1px) solid var(--sjs2-color-control-toggle-true-hovered-border, #19B394);
    background: var(--sjs2-color-control-toggle-true-hovered-bg, #15987E);

    .sa-toggle-handle {
      background: var(--sjs2-color-control-toggle-true-hovered-icon, #FFF);
    }
  }

  &:focus {
    outline: var(--sjs2-border-width-focused, 2px) solid var(--sjs2-color-control-toggle-true-focused-border, #19B394);
    background: var(--sjs2-color-control-toggle-true-focused-bg, #FFF);

    .sa-toggle-handle { 
      background: var(--sjs2-color-control-toggle-true-focused-icon, #19B394);
    }
    
  }
}

.sa-toggle-handle {
  display: flex;
  width: var(--sjs2-size-x150, 12px);
  height: var(--sjs2-size-x150, 12px);
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;

  border-radius: var(--sjs2-radius-control-toggle-item, 9999px);
  outline: var(--ctr-toggle-button-thumb-border-width, 0) solid var(--sjs2-color-control-toggle-false-default-icon, rgba(28, 27, 32, 0.60));
  background: var(--sjs2-color-control-toggle-false-default-icon, rgba(28, 27, 32, 0.60));
}

.sa-toggle-element.active .sa-toggle-handle {
  background: var(--sjs2-color-control-toggle-true-default-icon, #FFF);
  transform: translateX(calc(var(--sjs2-size-x150, 12px) + var(--sjs2-spacing-x050, 4px)));
}

.sa-toggle-text {
  flex: 1 0 0;
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  /* sjs2/typography/default */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */

  @media screen and (max-width: 600px) {
    flex: unset;
  }
}
