@use "../typography-mixins.scss" as *;

.sa-toggle-container {
  display: flex;
  gap: var(--sjs2-spacing-x100, 8px);

  @media screen and (max-width: 600px) {
    width: 100%;
    justify-content: end;
  }
}

.sa-toggle-element {
  display: flex;
  padding: var(--sjs2-spacing-x075, 6px);
  width: calc(2 * var(--sjs2-size-x150, 12px) + var(--sjs2-spacing-x050, 4px));
  align-items: center;
  gap: var(--sjs2-spacing-x050, 4px);
  transition: background-color 0.3s ease;

  border-radius: var(--sjs2-radius-component-toggle, 9999px);
  outline: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-component-toggle-false-default-border, #d4d4d4);
  background: var(--sjs2-color-component-toggle-false-default-bg, #f5f5f5);

  &:hover {
    background: var(--sjs2-color-component-toggle-false-hovered-bg, #ededed);
    outline: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-component-toggle-false-hovered-border, #d4d4d4);

    .sa-toggle-handle {
      background: var(--sjs2-color-component-toggle-false-hovered-thumb, rgba(28, 27, 32, 0.6));
    }
  }

  &:focus-visible {
    box-shadow: var(--sjs2-border-effect-component-toggle-a11y);
    outline: none;
  }
}

.sa-toggle-element.active {
  outline: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-component-toggle-true-default-border, #19b394);
  background: var(--sjs2-color-component-toggle-true-default-bg, #19b394);

  &:hover {
    outline: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-component-toggle-true-hovered-border, #19b394);
    background: var(--sjs2-color-component-toggle-true-hovered-bg, #15987e);

    .sa-toggle-handle {
      background: var(--sjs2-color-component-toggle-true-hovered-thumb, #fff);
    }
  }

  &:focus-visible {
    box-shadow: var(--sjs2-border-effect-component-toggle-a11y);
    outline: none;
  }
}

.sa-toggle-handle {
  display: flex;
  width: var(--sjs2-size-x150, 12px);
  height: var(--sjs2-size-x150, 12px);
  justify-content: center;
  align-items: center;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;

  border-radius: var(--sjs2-radius-component-toggle-thumb, 9999px);
  background: var(--sjs2-color-component-toggle-false-default-thumb, rgba(28, 27, 32, 0.6));
}

.sa-toggle-element.active .sa-toggle-handle {
  background: var(--sjs2-color-component-toggle-true-default-thumb, #fff);
  transform: translateX(calc(var(--sjs2-size-x150, 12px) + var(--sjs2-spacing-x050, 4px)));
}

.sa-toggle-text {
  flex: 1 0 0;
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);

  @include sjs2--typography--default;

  @media screen and (max-width: 600px) {
    flex: unset;
  }
}
