@use "../globals" as *;
@forward "../globals";

.sa-commercial {
  box-sizing: border-box;
  padding: var(--sjs2-spacing-static-x150, 12px) var(--sjs2-spacing-static-x600, 48px);
  margin-top: calc(-1 * var(--sjs2-spacing-x300, 24px));
  margin-bottom: var(--sjs2-spacing-x300, 24px);
  justify-content: center;
  width: 100%;
  background: var(--sjs2-color-bg-brand-primary, #19B394);
  @media screen and (max-width: 600px) {
    padding: var(--sjs2-spacing-static-x100, 8px) var(--sjs2-spacing-static-x300, 24px);
  }
}
.sa-commercial__text {
  text-decoration: none;
  color: var(--sjs2-color-fg-static-main-primary, #FFF);
  text-align: center;
  font-family: var(--sjs2-font-family-semantic-default, "Segoe UI", SegoeUI, Arial, sans-serif);
  font-size: var(--sjs2-font-size-semantic-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-line-height-semantic-default, 24px);
  @media screen and (max-width: 600px) {
    font-size: var(--sjs2-font-size-semantic-small, 12px);
    line-height: var(--sjs2-line-height-semantic-small, 16px);
  }

  a {
    color: var(--sjs2-color-fg-static-main-primary, #FFF);
    text-align: center;
    font-family: var(--sjs2-font-family-semantic-default, "Segoe UI", SegoeUI, Arial, sans-serif);
    font-size: var(--sjs2-font-size-semantic-default, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--sjs2-line-height-semantic-default, 24px);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 5%;
    text-underline-offset: 10%;
    text-underline-position: from-font;

    @media screen and (max-width: 600px) {
      font-size: var(--sjs2-font-size-semantic-small, 12px);
      line-height: var(--sjs2-line-height-semantic-small, 16px);
    }
  }
}


// Dropdown
.sa-dropdown,
.sa-action-dropdown {
  position: relative;
  cursor: pointer;
  user-select: none;

  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  /* sjs2/typography/default-strong */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-action-dropdown:hover,
.sa-action-dropdown.sa-action-dropdown--opened {
  border-radius: var(--sjs2-radius-control-action, 8px);
  background: var(--sjs2-color-bg-positive-tertiary-dim, rgba(25, 179, 148, 0.10));
}

.sa-dropdown-header {
  display: flex;
  padding: var(--sjs2-layout-control-formbox-medium-vertical, 4px) var(--sjs2-layout-control-formbox-medium-horizontal, 4px);
  align-items: flex-start;
  gap: var(--sjs2-layout-control-formbox-medium-gap, 4px);
  align-self: stretch;

  border-radius: var(--sjs2-radius-semantic-form, 8px);
  margin: var(--sjs2-border-width-x100, 1px);
  outline: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-control-formbox-default-border, #D4D4D4);
  background: var(--sjs2-color-control-formbox-default-bg, rgba(28, 27, 32, 0.05));

  &:focus {
    border-radius: var(--sjs2-radius-semantic-form, 8px);
    background: var(--sjs2-color-control-formbox-focused-bg, #F5F5F5);
    box-shadow: var(--sjs2-border-offset-x-form-focused, 0) var(--sjs2-border-offset-y-form-focused, 0) var(--sjs2-border-blur-form-focused, 0) var(--sjs2-border-spread-form-focused, 2px) var(--sjs2-color-control-formbox-focused-border, #19B394) inset;
    outline: none;
  }
}

.sa-dropdown-arrow {
  display: flex;
  padding: var(--sjs2-layout-control-action-small-box-vertical, 8px) var(--sjs2-layout-control-action-small-box-horizontal, 8px);
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: var(--sjs2-radius-semantic-form-item, 4px);
  background: var(--sjs2-color-bg-neutral-tertiary, rgba(28, 27, 32, 0.00));
}

.sa-dropdown-arrow:hover {
  background: var(--sjs2-color-bg-neutral-tertiary-dim, rgba(28, 27, 32, 0.05));
}

.sa-dropdown--opened .sa-dropdown-arrow {
  background: var(--sjs2-color-bg-neutral-tertiary-dim, rgba(28, 27, 32, 0.05));
}

.sa-dropdown-arrow svg {
  display: flex;
  width: var(--sjs2-size-icon-medium, 24px);
  height: var(--sjs2-size-icon-medium, 24px);
  justify-content: center;
  align-items: center;

  use {
    fill: var(--sjs2-color-fg-basic-primary-alt, rgba(66, 65, 70, 1));
  }
}

.sa-dropdown-container,
.sa-action-dropdown-container {
  display: inline-block;
}

.sa-dropdown__title {
  padding: var(--sjs2-spacing-x150, 12px) var(--sjs2-size-x000, 0.001px) var(--sjs2-spacing-x150, 12px) var(--sjs2-size-x150, 12px);
  margin-inline-end: var(--sjs2-spacing-static-x100, 8px);
  overflow: hidden;
  color: var(--sjs2-color-fg-basic-secondary, rgba(28, 27, 32, 0.60));
  text-overflow: ellipsis;

  /* sjs2/typography/default */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-dropdown-list,
.sa-action-dropdown-list {
  position: absolute;
  // top: 100%;
  // left: 0;
  // right: 0;
  min-width: 150px;
  max-height: 50vh;
  max-width: 80vw;
  overflow-x: hidden;
  overflow-y: auto;
  border: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
  border-top: none;
  border-radius: var(--sjs2-radius-container-drop, 16px);
  background: var(--sjs2-color-utility-sheet, #FFF);
  display: none;
  z-index: 1000;
  margin: 0;
  list-style: none;
  transition: all 0.3s;

  margin-top: 8px;
  padding: var(--sjs2-layout-container-drop-vertical, 8px) var(--sjs2-layout-container-drop-horizontal, 8px);

  /* sjs2/shadow/large */
  box-shadow: var(--sjs2-shadow-size-large-offset-x, 0) var(--sjs2-shadow-size-large-offset-y, 6px) var(--sjs2-shadow-size-large-blur, 12px) var(--sjs2-shadow-size-large-spread, 4px) var(--sjs2-shadow-color-large, rgba(0, 76, 68, 0.10));

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

    @-moz-document url-prefix() {
      scrollbar-width: thin;
      scrollbar-color: #00000026 transparent;
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 1024px;
      background-color: #00000026;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
      border: 2px solid rgba(0, 0, 0, 0);
      background-color: #00000026;
    }
}

.sa-dropdown-list.sa-dropdown--opened {
  display: block;
}

.sa-action-dropdown-list.sa-action-dropdown--opened {
  display: block;
  border-radius: var(--sjs2-radius-container-drop, 16px);
  border: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
  background: var(--sjs2-color-utility-sheet, #FFF);

  /* sjs2/border-effect/floating/default */
  box-shadow: var(--sjs2-border-offset-x-floating-default, 0) var(--sjs2-border-offset-y-floating-default, 6px) var(--sjs2-border-blur-floating-default, 12px) var(--sjs2-border-spread-floating-default, 4px) var(--sjs2-color-utility-shadow-floating-default, rgba(0, 76, 68, 0.20));
}

.sa-dropdown-item,
.sa-action-dropdown-item {
  width: max-content;
  min-width: calc(100% - 2 * var(--sjs2-size-x200, 16px));
  max-width: calc(100% - 2 * var(--sjs2-size-x200, 16px));
  padding: var(--sjs2-spacing-x150, 12px) var(--sjs2-size-x200, 16px);
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: var(--sjs2-spacing-x150, 12px);
  border-radius: var(--sjs2-radius-control-drop-item, 8px);
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);
  background: var(--sjs2-color-bg-brand-tertiary, rgba(25, 179, 148, 0.00));

  /* sjs2/typography/default */
  font-family: $font-family;
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
  
  &:hover {
    background-color: var(--sjs2-color-bg-brand-tertiary-dim, rgba(25, 179, 148, 0.10));

    .sa-action-dropdown-icon {
      border-radius: var(--sjs2-radius-control-checkbox, 4px);
      background: var(--sjs2-color-control-check-false-hovered-bg, rgba(28, 27, 32, 0.10));
      box-shadow: var(--sjs2-border-offset-x-form-hovered, 0) var(--sjs2-border-offset-y-form-hovered, 0) var(--sjs2-border-blur-form-hovered, 0) var(--sjs2-border-spread-form-hovered, 1px) var(--sjs2-color-control-check-false-hovered-border, #D4D4D4) inset;
    }

    &.sa-action-dropdown-item--selected .sa-action-dropdown-icon {
      border-radius: var(--sjs2-radius-control-checkbox, 4px);
      background: var(--sjs2-color-control-check-true-hovered-bg, #15987E);
      box-shadow: var(--sjs2-border-offset-x-form-hovered, 0) var(--sjs2-border-offset-y-form-hovered, 0) var(--sjs2-border-blur-form-hovered, 0) var(--sjs2-border-spread-form-hovered, 1px) var(--sjs2-color-control-check-true-hovered-border, #15987E) inset;
    }
  }
}

.sa-action-dropdown-item:focus,
.sa-action-dropdown-item--focused,
.sa-dropdown-item:focus,
.sa-dropdown-item--focused {
  border-radius: var(--sjs2-radius-control-drop-item, 8px);
  background: var(--sjs2-color-bg-brand-tertiary-dim, rgba(25, 179, 148, 0.10));
}

.sa-action-dropdown-item--selected .sa-action-dropdown-icon {
  border-radius: var(--sjs2-radius-control-checkbox, 4px);
  background: var(--sjs2-color-control-check-true-default-bg, #19B394);
  box-shadow: var(--sjs2-border-offset-x-form-default, 0) var(--sjs2-border-offset-y-form-default, 0) var(--sjs2-border-blur-form-default, 0) var(--sjs2-border-spread-form-default, 1px) var(--sjs2-color-control-check-true-default-border, #19B394) inset;

  svg {
    display: block;
  }
}

.sa-action-dropdown-icon {
  width: var(--sjs2-size-icon-medium, 24px);
  height: var(--sjs2-size-icon-medium, 24px);
  min-width: var(--sjs2-size-icon-medium, 24px);

  border-radius: var(--sjs2-radius-control-checkbox, 4px);
  background: var(--sjs2-color-control-check-false-default-bg, #F5F5F5);
  box-shadow: var(--sjs2-border-offset-x-form-default, 0) var(--sjs2-border-offset-y-form-default, 0) var(--sjs2-border-blur-form-default, 0) var(--sjs2-border-spread-form-default, 1px) var(--sjs2-color-control-check-false-default-border, #D4D4D4) inset;

  svg {
    display: none;
    width: var(--sjs2-size-icon-medium, 24px);
    height: var(--sjs2-size-icon-medium, 24px);
  }

  use {
    fill: var(--sjs2-color-control-check-true-default-icon, #FFF);
  }
}

.sa-dropdown-item.sa-dropdown-item--selected {
  background-color: var(--sjs2-color-bg-brand-primary, #19B394);
  color: var(--sjs2-color-fg-static-main-primary, #FFF);

  /* sjs2/typography/default-strong */
  font-family: $font-family;
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-dropdown-placeholder {
  overflow: hidden;
  color: var(--sjs2-color-control-input-default-placeholder, rgba(28, 27, 32, 0.60));
  text-overflow: ellipsis;

  /* sjs2/typography/default */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-dropdown-icon {
  width: var(--sa-icon-size);
  height: var(--sa-icon-size);
  flex-shrink: 0;
}

.sa-dropdown-header-icon {
  width: var(--sa-icon-size);
  height: var(--sa-icon-size);
  margin-right: 8px;
}

.sa-dropdown-header-content {
  display: flex;
  padding: var(--sjs2-layout-control-input-medium-content-vertical, 8px) var(--sjs2-layout-control-input-medium-content-horizontal, 12px);
  align-items: flex-start;
  flex: 1 0 0;
}

.sa-dropdown-header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--sjs2-color-control-input-default-value, #1C1B20);

  /* sjs2/typography/default */
  font-family: $font-family;
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-action-dropdown-header {
  display: flex;
  padding: var(--sjs2-layout-control-action-small-box-vertical, 8px) var(--sjs2-layout-control-action-small-box-horizontal, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--sjs2-layout-control-action-small-box-gap, 0);
  border-radius: var(--sjs2-radius-control-action, 8px);
  background: var(--sjs2-color-bg-positive-tertiary, rgba(25, 179, 148, 0.00));

  &:focus-visible {
    border-radius: var(--sjs2-radius-control-action, 8px);
    outline: var(--sjs2-border-width-a11y, 4px) solid var(--sjs2-color-utility-a11y, rgba(102, 180, 252, 0.60));
    background: var(--sjs2-color-bg-positive-tertiary, rgba(25, 179, 148, 0.00));
  }
}

.sa-action-dropdown-title {
  padding: var(--sjs2-layout-control-action-small-label-vertical, 0) var(--sjs2-layout-control-action-small-label-horizontal, 6px);
}

.sa-action-dropdown-arrow {
  display: flex;
  padding: var(--sjs2-layout-control-action-small-addon-vertical, 4px) var(--sjs2-layout-control-action-small-addon-horizontal, 4px);
  justify-content: center;
  align-items: center;
}

.sa-action-dropdown-arrow svg {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;

  use {
    fill: var(--sjs2-color-project-accent-600, rgba(25, 179, 148, 1));
  }
}

.sa-action-dropdown-header {
  display: flex;
  min-width: var(--sjs2-size-semantic-small, 40px);
  padding: var(--sjs2-layout-control-action-small-box-vertical, 8px) var(--sjs2-layout-control-action-small-box-horizontal, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--sjs2-layout-control-action-small-box-gap, 0);
}

.sa-button {
  outline: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  min-width: var(--sjs2-size-semantic-small, 40px);
  padding: var(--sjs2-layout-control-action-small-box-vertical, 8px) var(--sjs2-layout-control-action-small-box-horizontal, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--sjs2-layout-control-action-small-box-gap, 0);
}

.sa-button-text {
  display: flex;
  flex: 1 0 auto;
  padding: var(--sjs2-layout-control-action-small-label-vertical, 0) var(--sjs2-layout-control-action-small-label-horizontal, 6px);
  justify-content: center;
  align-items: center;
}

.sa-button-brand-secondary {
  border-radius: var(--sjs2-radius-control-button, 8px);
  background: var(--sjs2-color-bg-brand-secondary, rgba(25, 179, 148, 0.10));
  color: var(--sjs2-color-fg-brand-primary, #19B394);
  
  &:hover {
    background: var(--sjs2-color-bg-brand-secondary-dim, rgba(25, 179, 148, 0.15));
  }
}

.sa-button-brand-tertiary {
  border-radius: 8px;
  background: var(--sjs2-color-bg-brand-tertiary, rgba(25, 179, 148, 0.00));
  color: var(--sjs2-color-fg-brand-primary, #19B394);
  text-align: center;

  /* sjs2/typography/default-strong */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */

  &:hover {
    background: var(--sjs2-color-bg-brand-tertiary-dim, rgba(25, 179, 148, 0.10));
  }
}

@media screen and (max-width: 600px) {
  .sa-toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .sa-dropdown {
    width: 100%;
  }

  .sa-dropdown-container {
    width: 100%;
  }

  .sa-dropdown-list.sa-dropdown--opened {
    min-width: calc(100% - var(--sjs2-layout-container-drop-horizontal, 8px) * 2);
    max-width: calc(100% - var(--sjs2-layout-container-drop-horizontal, 8px) * 2);
  }
}