$main-color: #1ab394;
$background-color: #f7f7f7;

$text-color: #404040;
$text-color-inverse: #ffffff;
$text-gray: #a0a0a0;

$border-color: #d4d4d4;

$root-font-size: 14px;

@mixin button() {
  background: none;
  background-color: transparent;
  border: 1px solid #1ab394;
  border-radius: 12px;
  color: $main-color;
  cursor: pointer;
  font-family: Segoe UI;
  font-weight: bold;
  outline: none;
  padding: 2px 20px;
  font-size: $root-font-size;

  &:hover {
    background-color: $main-color;
    color: $text-color-inverse;
  }
}

@mixin arrow() {
  display: inline-block;
  background: transparent;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23a0a0a0;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-size: 9px 100%;
  width: 10px;
  height: 10px;
}

@mixin dropdown() {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23404040;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.57em 100%;
  border: none;
  border-bottom: 0.06em solid $border-color;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 0.25em 1.5em 0.25em 0.87em;

  &:focus {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231AB394;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E ");
    border-color: $border-color;
    outline: none;
  }
  &::-ms-expand {
    display: none;
  }
}

@mixin input() {
  border: none;
  border-bottom: 0.06em solid $border-color;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 0.25em 1.5em 0.25em 0.87em;
  background: transparent;

  &:focus {
    border-color: $main-color;
    outline: none;
  }
}

.sa-datatables {
  font-size: $root-font-size;
  font-family: Segoe UI;

  button {
    @include button();
  }

  select {
    @include dropdown();
  }

  input {
    @include input();
  }

  .dt-buttons {
    margin-left: 20px;
    float: left;
  }

  .dt-button {
    width: 79px;
    margin-right: 5px;
  }

  .dataTables_filter {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .dataTables_filter,
  .sa-datatables__filter-container {
    input {
      background: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%239F9E9E;} %3C/style%3E%3Cpath class='st0' d='M13.56,11.44L11.3,9.18C11.74,8.38,12,7.47,12,6.5C12,3.47,9.53,1,6.5,1S1,3.47,1,6.5C1,9.53,3.47,12,6.5,12 c0.97,0,1.88-0.26,2.68-0.7l2.26,2.26c0.29,0.29,0.66,0.43,1.04,0.44c0.39,0.01,0.78-0.14,1.08-0.44c0.3-0.3,0.44-0.69,0.44-1.08 C13.99,12.1,13.85,11.72,13.56,11.44z M4,6.5C4,5.12,5.12,4,6.5,4S9,5.12,9,6.5S7.88,9,6.5,9S4,7.88,4,6.5z'/%3E%3C/svg%3E");
      background-repeat: no-repeat, repeat;
      background-position: left 0.7em top 50%, 0 0;
      background-size: 1em 100%;
      padding-left: 35px;
    }
  }

  .dataTables_wrapper {
    background-color: $background-color;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .dataTables_length {
    float: right;
    margin-right: 20px;
    font-size: 16px;
    label {
      font-weight: bold;
    }
  }

  .dataTables_paginate {
    float: right;
    margin-right: 20px;

    &:last-child {
      margin-top: 15px;
    }

    .ellipsis {
      color: $text-gray;
      margin-right: 15px;
    }
  }

  .paginate_button {
    color: $text-gray;
    margin-right: 15px;
    cursor: pointer;
    outline: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .paginate_button.previous {
    @include arrow();
    transform: rotate(90deg);
    margin-right: 20px;
  }

  .paginate_button.next {
    @include arrow();
    transform: rotate(270deg);
    margin-left: 20px;
  }

  .paginate_button.current {
    font-weight: bold;
    border-bottom: 1px solid $text-gray;
  }

  .dataTables_info {
    color: $text-gray;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
  }

  table {
    border-spacing: 0;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
  }

  .sa-datatables__detail {
    border-bottom: none;
  }

  table.dataTable tbody th:first-child,
  table.dataTable tbody td:first-child {
    border-left: 1px solid #ddd;
  }

  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

.sa-datatables__table {
  width: 100%;
  background: $text-color-inverse;
}

.sa-datatables__table th {
  position: relative;
}

.sa-datatables__detail {
  width: 80%;
  padding-left: 50px;
}

// .sa-datatables__action-container {
//   position: absolute;
//   display: none;
//   top: 0;
//   z-index: 1;
// }

// th:hover > .sa-datatables__action-container {
//   display: block;
// }

td.sa-datatables__action-column {
  width: 20px;
  background-image: url(/images/Arrow_right_10x10.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sa-datatables__detail-row td.sa-datatables__action-column {
  background-image: url(/images/Arrow_down_10x10.svg);
}

.sa-datatables__filter-container {
  margin-bottom: 20px;
}
