.sa-visualizer {
  .apexcharts-tooltip.apexcharts-tooltip {
    padding: var(--sjs2-spacing-x150, 12px) var(--sjs2-spacing-x200, 16px);
    border-radius: var(--sjs2-radius-container-tooltip, 8px);
    border-color: var(--sjs2-color-bg-neutral-primary, #1C1B20);
    background: var(--sjs2-color-bg-neutral-primary, #1C1B20);
    color: var(--sjs2-color-fg-neutral-primary, #FFF);

    .apexcharts-tooltip-title {
      display: none;
    }
  }

  .apexcharts-menu-icon.apexcharts-menu-icon svg {
    fill: var(--sjs2-color-fg-brand-primary, #19B394);
    opacity: var(--sjs2-opacity-x035, 0.35);
  }
  .apexcharts-menu-icon.apexcharts-menu-icon:hover svg {
    fill: var(--sjs2-color-fg-brand-primary, #19B394);
    opacity: 1;
  }
}