@use "../typography-mixins.scss" as *;

.sa-visualizer {
  .apexcharts-tooltip.apexcharts-tooltip {
    padding: var(--sjs2-spacing-x075, 6px) var(--sjs2-spacing-x150, 12px);
    border-radius: var(--sjs2-radius-container-tooltip, 4px);
    border-color: var(--sjs2-color-bg-neutral-primary, #1C1B20);
    background: var(--sjs2-color-bg-neutral-primary, #1C1B20);
    color: var(--sjs2-color-fg-neutral-on-primary, #FFF);

    .apexcharts-tooltip-title {
      display: none;
    }

    .apexcharts-tooltip-text-goals-value, .apexcharts-tooltip-text-y-value, .apexcharts-tooltip-text-z-value {
      margin: 0;
    }
  }

  .apexcharts-xaxistooltip.apexcharts-xaxistooltip {
    display: none;
  }

  .apexcharts-tooltip-series-group.apexcharts-active {
    padding: 0;
  }

  .apexcharts-tooltip-y-group.apexcharts-tooltip-y-group {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .apexcharts-toolbar div svg {
    fill: var(--sjs2-color-fg-brand-primary, #19B394);
    opacity: var(--sjs2-opacity-x035, 0.35);
  }
  .apexcharts-toolbar div:hover svg {
    fill: var(--sjs2-color-fg-brand-primary, #19B394);
    opacity: 1;
  }

  .apexcharts-menu.apexcharts-menu-open {
    border: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
    border-top: none;
    border-radius: var(--sjs2-radius-container-drop, 16px);
    background: var(--sjs2-color-utility-sheet, #FFF);
    margin-top: 8px;
    padding: var(--sjs2-layout-container-drop-vertical, 8px) var(--sjs2-layout-container-drop-horizontal, 8px);
    box-shadow: var(--sjs2-shadow-size-large-offset-x, 0) var(--sjs2-shadow-size-large-offset-y, 6px) var(--sjs2-shadow-size-large-blur, 12px) var(--sjs2-shadow-size-large-spread, 4px) var(--sjs2-shadow-color-large, rgba(0, 76, 68, 0.10));
  }

  .apexcharts-menu-item.apexcharts-menu-item {
    width: max-content;
    min-width: calc(100% - 2 * var(--sjs2-size-x200, 16px));
    max-width: calc(100% - 2 * var(--sjs2-size-x200, 16px));
    padding: var(--sjs2-spacing-x150, 12px) var(--sjs2-size-x200, 16px);
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: var(--sjs2-spacing-x150, 12px);
    border-radius: var(--sjs2-radius-control-drop-item, 8px);
    color: var(--sjs2-color-fg-basic-primary, #1C1B20);
    background: var(--sjs2-color-bg-brand-tertiary, rgba(25, 179, 148, 0.00));

    @include sjs2--typography--default;

    &:hover {
      background-color: var(--sjs2-color-bg-brand-tertiary-dim, rgba(25, 179, 148, 0.1));
    }
  }

  .apx-legend-position-top.apx-legend-position-top,
  .apx-legend-position-bottom.apx-legend-position-bottom {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-radius: var(--sjs2-radius-x050, 4px);
    border: var(--sjs2-border-width-default, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
    background: var(--sjs2-color-bg-basic-primary, #FFF);
    padding: var(--sjs2-spacing-x250, 20px);
    align-items: flex-start;
    gap: var(--sjs2-spacing-x150, 12px);
    align-self: stretch;

    @media screen and (max-width: 1500px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .sa-question-layouted .apx-legend-position-top.apx-legend-position-top,
  .sa-question-layouted .apx-legend-position-bottom.apx-legend-position-bottom {
    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .apexcharts-legend.apexcharts-legend {
    max-height: 100%;
    border-radius: var(--sjs2-radius-x250, 20px);
    border: var(--sjs2-border-width-default, 1px) solid var(--sjs2-color-border-basic-secondary, #d4d4d4);
    background: var(--sjs2-color-bg-basic-primary, #fff);
    padding: var(--sjs2-spacing-x250, 20px);
    gap: var(--sjs2-spacing-x150, 12px);
  }

  .apexcharts-legend:not(.apx-legend-position-left):not(.apx-legend-position-top):not(.apx-legend-position-right):not(
      .apx-legend-position-bottom
    ) {
    padding: 0;
    border: unset;
  }

  .apexcharts-legend.apx-legend-position-right,
  .apexcharts-legend.apx-legend-position-left {
    bottom: auto;
  }

  .apexcharts-legend-series.apexcharts-legend-series {
    gap: var(--sjs2-spacing-x100, 8px);

    .apexcharts-legend-text {
      padding: 0;
      margin: 0;
    }
  }

  .sa-pie-charts {
    display: flex;
    flex-wrap: wrap;
  }

  .sa-pie-chart {
    width: 50%;
  }
}