$background-color: #f4f4f4;

.sva-grid__grid-sizer {
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 1400px) {
    width: 50%;
  }
}

.sva-question {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1em;

  @media screen and (min-width: 1400px) {
    width: 50%;
  }
}

.sva-question__content {
  background-color: $background-color;
  padding: 1em;
}

.sva-question__title {
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  margin: 0;
  margin-bottom: 1em;
}

.sva-question__toolbar {
  width: 100px;
}
