@use "globals" as *;

.sa-visualizer-nps {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px var(--dsb-nps-vizualizer-gap, 16px);
  align-self: stretch;
  flex-wrap: wrap;
}

.sa-visualizer-nps__score-part {
  display: flex;
  min-width: var(--dsb-nps-vizualizer-item-min-width, 256px);
  padding: var(--dsb-nps-vizualizer-item-padding-top, 16px) var(--dsb-nps-vizualizer-item-padding-right, 24px) var(--dsb-nps-vizualizer-item-padding-bottom, 16px) var(--dsb-nps-vizualizer-item-padding-left, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--dsb-nps-vizualizer-item-gap, 24px);
  flex: 1 0 0;

  border-radius: var(--dsb-nps-vizualizer-item-corner-radius, 8px);
  border: var(--dsb-nps-vizualizer-item-border-width, 1px) dashed var(--dsb-nps-vizualizer-item-border-color, #DCDCDC);
  background: var(--dsb-nps-vizualizer-item-background-color, #FFF);
}

.sa-visualizer-nps__score-part-title {
  color: var(--dsb-nps-vizualizer-item-title-color, rgba(0, 0, 0, 0.90));

  /* ctr/Default Bold */
  font-family: $font-family;
  font-size: var(--ctr-font-default-size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ctr-font-default-line-height, 24px); /* 150% */
}

.sa-visualizer-nps__score-part-values {
  display: flex;
  align-items: flex-start;
  gap: var(--dsb-nps-vizualizer-item-text-gap, 24px);
  align-self: stretch;
}

.sa-visualizer-nps__score-part-value {
  flex: 1 0 0;
  color: var(--dsb-nps-vizualizer-item-text-color-value, rgba(0, 0, 0, 0.90));

  /* ctr/Large Bold */
  font-family: $font-family;
  font-size: var(--ctr-font-large-size, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ctr-font-large-line-height, 40px); /* 125% */
}

.sa-visualizer-nps__score-part-percent {
  color: var(--dsb-nps-vizualizer-item-text-color-percent, #19B394);
  text-align: right;

  /* ctr/Large Bold */
  font-family: $font-family;
  font-size: var(--ctr-font-large-size, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ctr-font-large-line-height, 40px); /* 125% */
}