@use "globals" as *;
@use "typography-mixins.scss" as *;

.sa-statistics-table__container {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.sa-statistics-table {
  width: 100%;
}

.sa-statistics-table__cell {
  border-bottom: var(--sjs2-border-width-x100, 1px) dashed var(--sjs2-color-border-basic-secondary, #d4d4d4);
}

.sa-statistics-table__cell-text {
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);
  margin-left: var(--sjs2-spacing-x200, 16px);
  margin-right: var(--sjs2-spacing-x200, 16px);
  padding: var(--sjs2-spacing-x100, 8px) 0;

  @include sjs2--typography--default;
}

.sa-statistics-table__cell:first-child .sa-statistics-table__cell-text {
  margin-inline-start: 0;
}
.sa-statistics-table__cell:last-child .sa-statistics-table__cell-text {
  margin-inline-end: 0;
}

.sa-statistics-table__cell-value.sa-statistics-table__cell-value {
  .sa-statistics-table__cell-text,
  .sa-statistics-table__cell-header-text {
    text-align: right;
  }
}

.sa-statistics-table__cell-header {
  border-top: var(--sjs2-border-width-x100, 1px) dashed var(--sjs2-color-border-basic-secondary, #d4d4d4);
  border-bottom: var(--sjs2-border-width-x100, 1px) dashed var(--sjs2-color-border-basic-secondary, #d4d4d4);
}

.sa-statistics-table__cell-header-text {
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);
  padding: var(--sjs2-spacing-x100, 8px) 0;
  margin-left: var(--sjs2-spacing-x200, 16px);
  margin-right: var(--sjs2-spacing-x200, 16px);
  text-align: left;

  @include sjs2--typography--default-strong;
}

.sa-statistics-table__cell-header:first-child .sa-statistics-table__cell-header-text {
  margin-inline-start: 0;
}

.sa-statistics-table__cell-header:last-child .sa-statistics-table__cell-header-text {
  margin-inline-end: 0;
}

.sa-choices-sparkline {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--sjs2-spacing-x200, 16px) 0;
  margin-left: var(--sjs2-spacing-x200, 16px);
  margin-right: var(--sjs2-spacing-x200, 16px);
}
.sa-choices-sparkline-value {
  display: flex;
  align-items: flex-start;
  height: var(--sjs2-size-x100, 8px);
  border-radius: var(--sjs2-radius-component-track, 9999px);
  background: var(--sjs2-color-bg-brand-primary, #19b394);
}
