@use "globals" as *;

.sa-statistics-table__container {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.sa-statistics-table {
  width: 100%;
}

.sa-statistics-table__cell {
  border-bottom: var(--dsb-table-cell-border-width, 1px) dashed var(--dsb-table-cell-border-color, #DCDCDC);
}

.sa-statistics-table__cell-text {
  color: var(--dsb-table-cell-text-color, rgba(0, 0, 0, 0.90));
  margin-left: calc(var(--dsb-table-row-gap, 32px) / 2);
  margin-right: calc(var(--dsb-table-row-gap, 32px) / 2);

  /* ctr/Default */
  font-family: $font-family;
  font-size: var(--ctr-font-default-size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ctr-font-default-line-height, 24px); /* 150% */ 
}

.sa-statistics-table__cell:first-child .sa-statistics-table__cell-text {
  margin-inline-start: 0;
}
.sa-statistics-table__cell:last-child .sa-statistics-table__cell-text {
  margin-inline-end: 0;
}

.sa-statistics-table__cell-value.sa-statistics-table__cell-value {
  .sa-statistics-table__cell-text,
  .sa-statistics-table__cell-header-text {
    text-align: right;
  }
}

.sa-statistics-table__cell-header {
  border-top: var(--dsb-table-cell-border-width, 1px) dashed var(--dsb-table-cell-border-color, #DCDCDC);
  border-bottom: var(--dsb-table-cell-border-width, 1px) dashed var(--dsb-table-cell-border-color, #DCDCDC);
}

.sa-statistics-table__cell-header-text {
  color: var(--dsb-table-header-text-color, rgba(0, 0, 0, 0.90));
  padding: var(--dsb-table-cell-padding-top, 8px) var(--dsb-table-cell-padding-right-no-border, 0px) var(--dsb-table-cell-padding-bottom, 8px) var(--dsb-table-cell-padding-left-no-border, 0px);
  margin-left: calc(var(--dsb-table-row-gap, 32px) / 2);
  margin-right: calc(var(--dsb-table-row-gap, 32px) / 2);
  text-align: left;
  
  /* ctr/Default Bold */
  font-family: $font-family;
  font-size: var(--ctr-font-default-size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ctr-font-default-line-height, 24px); /* 150% */
}

.sa-statistics-table__cell-header:first-child .sa-statistics-table__cell-header-text {
  margin-inline-start: 0;
}

.sa-statistics-table__cell-header:last-child .sa-statistics-table__cell-header-text {
  margin-inline-end: 0;
}


.sa-choices-sparkline {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--dsb-table-cell-padding-top-progressbar, 16px) var(--dsb-table-cell-padding-right-no-border, 0px) var(--dsb-table-cell-padding-bottom-progressbar, 16px) var(--dsb-table-cell-padding-left-no-border, 0px);
  margin-left: calc(var(--dsb-table-row-gap, 32px) / 2);
  margin-right: calc(var(--dsb-table-row-gap, 32px) / 2);
}
.sa-choices-sparkline-value {
  display: flex;
  align-items: flex-start;
  height: var(--dsb-table-cell-progressbar-height, 8px);
  border-radius: var(--dsb-table-cell-progressbar-corner-radius, 2px);
  background: var(--dsb-table-cell-progressbar-color, #19B394);
}
