@use "globals" as *;
@use "typography-mixins.scss" as *;

.sa-text-table__container {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.sa-text-table {
  @include sjs2--typography--default;
  width: 100%;
  color: $text-color;
  border-width: 1px;
  border-collapse: collapse;
}

.sa-text-table tr:first-child {
  border-top: var(--dsb-table-cell-border-width, 1px) dashed var(--dsb-table-cell-border-color, #DCDCDC);
}

.sa-text-table__cell {
  @include sjs2--typography--default;
  color: var(--dsb-table-cell-text-color, rgba(0, 0, 0, 0.90));
  padding: var(--dsb-table-cell-padding-top, 8px) var(--dsb-table-cell-padding-right-no-border, 0px) var(--dsb-table-cell-padding-bottom, 8px) var(--dsb-table-cell-padding-left-no-border, 0px);
  border-bottom: var(--dsb-table-cell-border-width, 1px) dashed var(--dsb-table-cell-border-color, #DCDCDC);
}

.sa-text-table__cell--number {
  text-align: end;
}

th.sa-text-table__cell {
  color: var(--dsb-table-header-text-color, rgba(0, 0, 0, 0.90));

  @include sjs2--typography--default-strong;
}
