@use "typography-mixins.scss" as *;

.sa-no-result {
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);
  @include sjs2--typography--default;
}

.sa-text-table__container {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.sa-text-table {
  @include sjs2--typography--default;
  width: 100%;
  border-width: 1px;
  border-collapse: collapse;
}

.sa-text-table tr:first-child {
  border-top: var(--sjs2-border-width-x100, 1px) dashed var(--sjs2-color-border-basic-secondary, #d4d4d4);
}

.sa-text-table__cell {
  @include sjs2--typography--default;
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);
  padding: var(--sjs2-spacing-x100, 8px) 0;
  border-bottom: var(--sjs2-border-width-x100, 1px) dashed var(--sjs2-color-border-basic-secondary, #d4d4d4);
}

.sa-text-table__cell--number {
  text-align: end;
}

th.sa-text-table__cell {
  color: var(--sjs2-color-fg-basic-primary, #1c1b20);

  @include sjs2--typography--default-strong;
}
