@use "globals" as *;

.sa-panel__header {
  margin: 0 1em;
}

.sa-grid {
  position: relative;
}

.sa-grid__grid-sizer {
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 1400px) {
    width: 50%;
  }
}

.sa-question {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
}

.sa-question__content {
  padding: 0 var(--dsb-item-content-padding-right, 40px) var(--dsb-item-content-padding-bottom, 40px) var(--dsb-item-content-padding-left, 40px);
}

.sa-question-layouted {
  position: absolute;
  margin: calc(var(--dsb-surface-gap, 24px) / 2);
  border-radius: var(--dsb-item-corner-radius, 4px);
  background: var(--dsb-item-background-color, #FFF);
  box-shadow: var(--dsb-item-shadow-offset-x, 0px) var(--dsb-item-shadow-offset-y, 1px) var(--dsb-item-shadow-blur, 2px) var(--dsb-item-shadow-spread, 0px) var(--dsb-item-shadow-color, rgba(0, 0, 0, 0.25));

  @media screen and (min-width: 1400px) {
    width: calc(50% - calc(var(--dsb-surface-gap, 24px) * 2));
  }
}


.sa-question__title {
  margin: 0;
  margin-bottom: var(--dsb-item-header-title-margin-bottom, 16px);
  color: var(--dsb-item-header-title-color, rgba(0, 0, 0, 0.90));

  /* ctr/Default Bold */
  font-family: $font-family;
  font-size: var(--ctr-font-default-size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--ctr-font-default-line-height, 24px); /* 150% */
}

.sa-question__header--draggable {
  cursor: move;
}

.sa-question__drag-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sa-question__drag-area-icon {
  cursor: move;
  display: flex;
  padding: var(--dsb-item-drag-area-padding-top, 8px) var(--dsb-item-drag-area-padding-right, 8px) var(--dsb-item-drag-area-padding-bottom, 8px) var(--dsb-item-drag-area-padding-left, 8px);
  align-items: center;

  svg {
    display: flex;
    width: var(--dsb-item-drag-area-drag-grip-width, 24px);
    height: var(--dsb-item-drag-area-drag-grip-height, 16px);
    flex-direction: column;
    align-items: center;
    opacity: var(--dsb-item-drag-area-drag-grip-opacity, 0.5);
  }

  use {
    fill: var(--dsb-item-drag-area-drag-grip-color, rgba(0, 0, 0, 0.5));
  }
}

.sa-toolbar {
  font-family: $font-family;
  font-size: $root-font-size;
  color: $text-color;
  // line-height: 34px;
  // margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--dsb-item-header-toolbar-editors-gap, 8px);
  padding-bottom: var(--dsb-item-header-toolbar-margin-bottom, 16px);
  align-items: center;
  align-self: stretch;
}

.sa-toolbar__button {
  display: flex;
  padding: var(--ctr-survey-action-button-padding-top, 8px) var(--ctr-survey-action-button-padding-right, 24px) var(--ctr-survey-action-button-padding-bottom, 8px) var(--ctr-survey-action-button-padding-left, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--ctr-survey-action-button-gap, 8px);
  border-radius: var(--ctr-survey-action-button-corner-radius, 8px);
  cursor: pointer;
}

.sa-toolbar__button-with-icon {
  padding: var(--ctr-survey-action-button-padding-top, 8px) var(--ctr-survey-action-button-padding-right, 24px) var(--ctr-survey-action-button-padding-bottom, 8px) var(--ctr-survey-action-button-padding-left-with-icon, 16px);
}

.sa-toolbar__button:hover {
  background: var(--ctr-survey-action-button-background-color-hovered-positive, rgba(25, 179, 148, 0.10));
}

.sa-toolbar__button:disabled {
  opacity: var(--ctr-survey-action-button-opacity-disabled, 0.25);
}

.sa-toolbar__button-text {
  color: var(--ctr-survey-action-button-text-color-positive, #19B394);
  text-align: center;

  /* lbr/Default Bold */
  font-family: var(--lbr-font-family, $font-family);
  font-size: var(--lbr-font-default-size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--lbr-font-default-line-height, 24px); /* 150% */
}

.sa-toolbar__button-icon {
  display: flex;
  width: var(--ctr-survey-action-button-icon-width, 24px);
  height: var(--ctr-survey-action-button-icon-height, 24px);
  justify-content: center;
  align-items: center;

  use {
    fill: var(--ctr-survey-action-button-text-color-positive, #19B394);
  }
}

.sa-toolbar__svg-button {
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  use {
    fill: $svg-color;
  }
  &:hover {
    use {
      fill: $svg-hover-color;
    }
  }
  svg {
    width: 15px;
    height: 15px;
  }
}

.sa-toolbar__button--right {
  float: right;
}

// custom select
.sa-question__select-wrapper {
  position: relative;
  display: inline-block;
  min-width: 100px;
  max-width: 300px;

  .sa-question__select-title {
    white-space: nowrap;
    display: inline-block;
    line-height: 34px;
    padding-right: 8px;
  }

  .sa-question__select {
    width: 100%;
    display: block;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    background: $text-color-inverse;
    border-color: $border-color;
    height: $form-element-height;
    padding: 5px 23px 5px 15px;
    line-height: initial;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:disabled {
      color: $disabled-color;
    }
  }

  &:before {
    margin-top: -4px;
    top: 50%;
    right: 10px;
    z-index: 1;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
    box-sizing: content-box;
    pointer-events: none;
  }
}
// EO custom select

.sa-question__filter {
  display: inline-block;
  padding: 0 1em;
}

.sa-question__filter-text {
  vertical-align: middle;
  margin-top: 1px;
  line-height: 32px;
}

.sa-commercial {
  font-size: 12px;
  padding: 0.5em 0 0.5em 2em;
  svg {
    width: 20px;
    height: 20px;
    fill: $main-color;
    vertical-align: middle;
  }
}
.sa-commercial__text {
  font-weight: bold;
  text-decoration: none;
  color: $main-color;
}
.sa-commercial__product {
  padding-left: 0.5em;
}

/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    local("Raleway-Regular"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    local("Raleway-Regular"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway Bold"),
    local("Raleway-Bold"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway Bold"),
    local("Raleway-Bold"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Dropdown
.sa-dropdown {
    position: relative;
    cursor: pointer;
}

.sa-dropdown-header {
    display: flex;
    padding: var(--sjs2-layout-control-formbox-medium-vertical, 4px) var(--sjs2-layout-control-formbox-medium-horizontal, 4px);
    align-items: flex-start;
    gap: var(--sjs2-layout-control-formbox-medium-gap, 4px);
    align-self: stretch;

    border-radius: var(--sjs2-radius-semantic-form, 8px);
    margin: var(--sjs2-border-width-x100, 1px);
    outline: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-control-formbox-default-border, #D4D4D4);
    background: var(--sjs2-color-control-formbox-default-bg, rgba(28, 27, 32, 0.05));
}

.sa-dropdown-arrow {
    display: flex;
    padding: var(--sjs2-layout-control-action-small-box-vertical, 8px) var(--sjs2-layout-control-action-small-box-horizontal, 8px);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--sjs2-radius-semantic-form-item, 4px);
    background: var(--sjs2-color-bg-neutral-tertiary, rgba(28, 27, 32, 0.00));
}

.sa-dropdown-arrow svg {
    display: flex;
    width: var(--sjs2-size-icon-medium, 24px);
    height: var(--sjs2-size-icon-medium, 24px);
    justify-content: center;
    align-items: center;

    use {
      fill: var(--sjs2-color-fg-basic-primary-alt, rgba(66, 65, 70, 1));
    }
}

.sa-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    border: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
    border-top: none;
    border-radius: var(--sjs2-radius-container-drop, 16px);
    background: var(--sjs2-color-utility-sheet, #FFF);
    display: none;
    z-index: 1000;
    margin: 0;
    list-style: none;
    transition: all 0.3s;

    padding: var(--sjs2-layout-container-drop-vertical, 8px) var(--sjs2-layout-container-drop-horizontal, 8px);

    /* sjs2/shadow/large */
    box-shadow: var(--sjs2-shadow-size-large-offset-x, 0) var(--sjs2-shadow-size-large-offset-y, 6px) var(--sjs2-shadow-size-large-blur, 12px) var(--sjs2-shadow-size-large-spread, 4px) var(--sjs2-shadow-color-large, rgba(0, 76, 68, 0.10));

}

.sa-dropdown-list.open {
  display: block;
}

.sa-dropdown-item {
  padding: var(--sjs2-spacing-x150, 12px) var(--sjs2-size-x200, 16px);
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: var(--sjs2-radius-control-drop-item, 8px);
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  /* sjs2/typography/default */
  font-family: var(--sjs2-font-family-semantic-default, "Open Sans");
  font-size: var(--sjs2-font-size-semantic-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-line-height-semantic-default, 24px); /* 150% */
}

.sa-dropdown-item:hover {
  background-color: var(--sjs2-color-bg-brand-tertiary-dim, rgba(25, 179, 148, 0.10));;
}

.sa-dropdown-item.selected {
  background-color: var(--sjs2-color-bg-brand-primary, #19B394);
  color: var(--sjs2-color-fg-static-main-primary, #FFF);

  /* sjs2/typography/default-strong */
  font-family: var(--sjs2-font-family-semantic-default, "Open Sans");
  font-size: var(--sjs2-font-size-semantic-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-line-height-semantic-default, 24px); /* 150% */
}

.sa-dropdown-placeholder {
  overflow: hidden;
  color: var(--sjs2-color-control-input-default-placeholder, rgba(28, 27, 32, 0.60));
  text-overflow: ellipsis;
}

.sa-dropdown-icon {
  width: var(--sa-icon-size);
  height: var(--sa-icon-size);
  flex-shrink: 0;
}

.sa-dropdown-header-icon {
  width: var(--sa-icon-size);
  height: var(--sa-icon-size);
  margin-right: 8px;
}

.sa-dropdown-header-content {
  display: flex;
  padding: var(--sjs2-layout-control-input-medium-content-vertical, 8px) var(--sjs2-layout-control-input-medium-content-horizontal, 12px);
  align-items: flex-start;
  flex: 1 0 0;
}

.sa-dropdown-header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--sjs2-color-control-input-default-value, #1C1B20);

  /* sjs2/typography/default */
  font-family: var(--sjs2-font-family-semantic-default, "Open Sans");
  font-size: var(--sjs2-font-size-semantic-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-line-height-semantic-default, 24px); /* 150% */
}