@use "globals" as *;

.sa-visualizer-wrapper {
  min-width: 450px;
  // padding-top: var(--sjs2-spacing-x300, 24px);
  background: var(--sjs2-color-utility-surface-muted, rgba(28, 27, 32, 0.05));
}

.sa-visualizer__toolbar {
}

.sa-visualizer__header {
  font-family: $font-family;
  font-size: $root-font-size;
}

.sa-visualizer__content {
  font-family: $font-family;
  display: inline-block;
  width: 100%;
}

.sa-visualizer__footer--has-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sa-visualizer__footer-title {
  display: inline-block;
  font-family: $font-family;
  font-size: $root-font-size;
  color: #404040;
  line-height: 34px;
  vertical-align: middle;
  margin: 0;
}

.sa-visualizer__footer-content {
  margin-top: 10px;
}

.sa-data-loading-indicator-panel {
  width: 100%;
  min-height: 200px;
  position: relative;
}

.sa-data-loading-indicator {
  position: absolute;
  width: 64px;
  height: 64px;
  left: calc((100% - 64px) / 2);
  top: calc((100% - 64px) / 2);
  animation: sa-data-loading-indicator-spinner 1s infinite linear;
}

@keyframes sa-data-loading-indicator-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
