@use "globals" as *;
@use "./utils/utils.scss" as *;

.sa-panel__header,
.sa-pivot__header {
  display: flex;
  flex-direction: column;
  
  &.sa-toolbar--has-content {
    margin-inline: var(--sjs2-spacing-x300, 24px);
    padding: var(--sjs2-spacing-x200, 16px);
    border-radius: var(--sjs2-radius-container-panel, 16px);
    background: var(--sjs2-color-bg-basic-primary, #FFF);
    box-shadow: var(--sjs2-border-offset-x-surface-default, 0) var(--sjs2-border-offset-y-surface-default, 0) var(--sjs2-border-blur-surface-default, 0) var(--sjs2-border-spread-surface-default, 1px) var(--sjs2-color-utility-shadow-surface-default, rgba(17, 16, 20, 0.10));
    gap: var(--sjs2-spacing-x200, 16px);

    @media screen and (max-width: 600px) {
      margin-inline: var(--sjs2-spacing-x150, 12px);
    }
  }
}

.sa-panel__header > .sa-toolbar {
  min-height: 48px;
  gap: var(--sjs2-spacing-x300, 24px);
}

.sa-panel__content {
  padding: var(--sjs2-spacing-x300, 24px);
  width: calc(100% - 2 * var(--sjs2-spacing-x300, 24px));

  @media screen and (max-width: 600px) { 
    padding: var(--sjs2-spacing-x150, 12px);
    width: calc(100% - 2 * var(--sjs2-spacing-x150, 12px));
  }
}

.sa-grid {
  position: relative;
}

.sa-grid__grid-sizer {
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 1400px) {
    width: 50%;
  }
}

.sa-question {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
}

.sa-question__content {
  padding: 0 var(--sjs2-spacing-x500, 40px) var(--sjs2-spacing-x500, 40px) var(--sjs2-spacing-x500, 40px);

  @media screen and (max-width: 600px) { 
    padding: var(--sjs2-spacing-x300, 24px) var(--sjs2-spacing-x150, 12px) var(--sjs2-spacing-x150, 12px) var(--sjs2-spacing-x150, 12px);
  }
}

.sa-question-layouted {
  overflow: visible;
  position: absolute;
  width: calc(100% - var(--sjs2-spacing-x300, 24px) * 2);
  margin-inline-start: var(--sjs2-spacing-x300, 24px);
  margin-top: var(--sjs2-spacing-x300, 24px);
  border-radius: var(--sjs2-radius-container-panel, 16px);
  background: var(--sjs2-color-bg-basic-primary, #FFF);
  box-shadow: var(--sjs2-border-offset-x-surface-default, 0) var(--sjs2-border-offset-y-surface-default, 0) var(--sjs2-border-blur-surface-default, 0) var(--sjs2-border-spread-surface-default, 1px) var(--sjs2-color-utility-shadow-surface-default, rgba(17, 16, 20, 0.10));

  @media screen and (min-width: 1400px) {
    width: calc(50% - var(--sjs2-spacing-x300, 24px) * 1.5);
  }
  @media screen and (max-width: 600px) { 
    margin-inline-start: var(--sjs2-spacing-x150, 12px);
    margin-top: var(--sjs2-spacing-x150, 12px);
    width: calc(100% - var(--sjs2-spacing-x150, 12px) * 2);
  }
}


.sa-question__title {
  margin: 0;
  padding-bottom: var(--sjs2-spacing-x200, 16px);
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  /* sjs2/typography/default-strong */
  font-family: $font-family;
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */

  @media screen and (max-width: 600px) {
    padding-inline-end: 40px;
  }
}

.sa-question__header--draggable {
  cursor: move;
}

.sa-question__drag-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--sjs2-spacing-x400, 32px);

  @media screen and (max-width: 600px) {
    min-height: 0;
  }
}

.sa-question__drag-area-icon {
  cursor: move;
  display: flex;
  padding: var(--sjs2-spacing-x100, 8px);
  align-items: center;

  svg {
    display: flex;
    width: var(--sjs2-size-x300, 24px);
    height: var(--sjs2-size-x200, 16px);
    flex-direction: column;
    align-items: center;
  }

  use {
    fill: var(--sjs2-color-fg-basic-tertiary, rgba(28, 27, 32, 0.4));
  }
}

.sa-question__hide-action {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  padding: var(--ctr-actionbar-button-padding-top-large-icon, 8px) var(--ctr-actionbar-button-padding-right-large-icon, 8px) var(--ctr-actionbar-button-padding-bottom-large-icon, 8px) var(--ctr-actionbar-button-padding-left-large-icon, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--ctr-actionbar-button-gap, 8px);
  border-radius: var(--sjs2-radius-control-action-icon, 8px);
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
  }

  use {
    fill: var(--sjs2-color-fg-basic-tertiary, rgba(28, 27, 32, 0.4));
  }

  &:hover {
    border-radius: var(--sjs2-radius-control-action-icon, 8px);
    background: var(--sjs2-color-bg-neutral-tertiary-dim, rgba(28, 27, 32, 0.05));

    use {
      fill: var(--sjs2-color-fg-basic-primary-muted, rgba(66, 65, 70, 1));
    }
  }

  &:focus-visible {
    border-radius: var(--sjs2-radius-control-action-icon, 8px);
    outline: var(--sjs2-border-width-a11y, 4px) solid var(--sjs2-color-utility-a11y, rgba(102, 180, 252, 0.60));
    background: var(--sjs2-color-bg-positive-tertiary, rgba(25, 179, 148, 0.00));
  }
}

.sa-question:not(.sa-question-layouted) {
  .sa-question__header {
    position: relative;
  }

  .sa-question__hide-action {
    top: unset;
    right: 0px;
    bottom: -44px;

    @media screen and (max-width: 600px) {
      top: 0;
      bottom: unset;
    }
  }
}

.sa-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--sjs2-spacing-static-x100, 8px);
  row-gap: var(--sjs2-spacing-static-x150, 12px);
  align-items: center;
  align-self: stretch;
  user-select: none;
}

.sa-question__content .sa-toolbar--has-content {
  padding-bottom: var(--sjs2-spacing-x200, 16px);
}

.sa-toolbar__button {
  display: flex;
  padding: var(--sjs2-layout-control-action-small-box-vertical, 8px) var(--sjs2-layout-control-action-small-box-horizontal, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--sjs2-layout-control-action-small-box-gap, 0);
  border-radius: var(--sjs2-radius-control-action, 8px);
  background: var(--sjs2-color-bg-brand-tertiary, rgba(25, 179, 148, 0.00));
  cursor: pointer;
}

.sa-toolbar__button:hover {
  background: var(--sjs2-color-bg-brand-tertiary-dim, rgba(25, 179, 148, 0.10));
}

.sa-toolbar__button:disabled {
  opacity: var(--sjs2-opacity-disabled, 0.25);
}

.sa-toolbar__button:focus-visible {
  border-radius: var(--sjs2-radius-control-action, 8px);
  outline: var(--sjs2-border-width-a11y, 4px) solid var(--sjs2-color-utility-a11y, rgba(102, 180, 252, 0.60));
  background: var(--sjs2-color-bg-brand-tertiary, rgba(25, 179, 148, 0.00));
}

.sa-toolbar__button--disabled,
.sa-toolbar__button--disabled:hover {
  opacity: var(--sjs2-opacity-disabled, 0.25);  
  background: transparent;
  cursor: default;
  
  .sa-toolbar__button-text {
    color: var(--sjs2-color-fg-state-common-disabled, rgba(28, 27, 32, 0.40));
  }
}

.sa-toolbar__button-text {
  color: var(--sjs2-color-fg-brand-primary, #19B394);
  text-align: center;
  padding: var(--sjs2-layout-control-action-small-label-vertical, 0) var(--sjs2-layout-control-action-small-label-horizontal, 8px);

  /* sjs2/typography/default-strong */
  font-family: $font-family;
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

.sa-toolbar__button-icon {
  display: flex;
  width: var(--sjs2-size-x300, 24px);
  height: var(--sjs2-size-x300, 24px);
  justify-content: center;
  align-items: center;

  use {
    fill: var(--sjs2-color-project-accent-600, rgba(25, 179, 148, 1));
  }
}

.sa-toolbar__svg-button {
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  use {
    fill: $svg-color;
  }
  &:hover {
    use {
      fill: $svg-hover-color;
    }
  }
  svg {
    width: 15px;
    height: 15px;
  }
}

.sa-toolbar__button--right {
  float: right;
}

// custom select
.sa-question__select-wrapper {
  position: relative;
  display: inline-block;
  min-width: 100px;
  max-width: 300px;

  .sa-question__select-title {
    white-space: nowrap;
    display: inline-block;
    line-height: 34px;
    padding-right: 8px;
  }

  .sa-question__select {
    width: 100%;
    display: block;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    background: $text-color-inverse;
    border-color: $border-color;
    height: $form-element-height;
    padding: 5px 23px 5px 15px;
    line-height: initial;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:disabled {
      color: $disabled-color;
    }
  }

  &:before {
    margin-top: -4px;
    top: 50%;
    right: 10px;
    z-index: 1;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
    box-sizing: content-box;
    pointer-events: none;
  }
}
// EO custom select

.sa-question__filter {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--sjs2-spacing-x050, 4px);

  .sa-toolbar__button-with-icon {
    display: flex;
    padding: var(--sjs2-layout-control-action-x-small-box-vertical, 4px) var(--sjs2-layout-control-action-x-small-box-horizontal, 4px);
    justify-content: center;
    align-items: center;
  }

  .sa-toolbar__button-icon {
    width: var(--sjs2-size-icon-small, 16px);
    height: var(--sjs2-size-icon-small, 16px);
    padding: var(--sjs2-layout-control-action-x-small-icon-vertical, 4px) var(--sjs2-layout-control-action-x-small-icon-horizontal, 4px);
    gap: 0;

    svg {
      width: var(--sjs2-size-icon-small, 16px);
      height: var(--sjs2-size-icon-small, 16px);
    }
  }

  .sa-toolbar__button-text {
    display: none;
  }
}

.sa-question__filter-text {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);
  text-align: center;

  /* sjs2/typography/default */
  font-family: var(--sjs2-typography-font-family-default, "Open Sans");
  font-size: var(--sjs2-typography-font-size-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-typography-line-height-default, 24px); /* 150% */
}

/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    local("Raleway-Regular"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    local("Raleway-Regular"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway Bold"),
    local("Raleway-Bold"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway Bold"),
    local("Raleway-Bold"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
