name: $(Date:yyyyMMdd).$(Rev:r)_$(Build.SourceBranchName)

variables:
  CurrentBranch: $(Build.SourceBranchName)
  AnalyticsRepoName: "survey-analytics"
  ServiceRepoName: "service"
  UtilsRepoName: "survey-utils"

trigger:
  batch: true
  branches:
    include:
      - master
      - V3
  tags:
    exclude:
      - v*.*.*

pr: none

resources:
  repositories:
    - repository: Service
      type: github
      endpoint: github.com_surveyjsdeveloper
      name: surveyjs/service
    - repository: Utils
      type: github
      endpoint: github.com_surveyjsdeveloper
      name: surveyjs/survey-utils
  pipelines:
    - pipeline: LibraryTrigger
      source: 'MASTER Library'
      trigger:
        branches:
          include:
            - master
            - V3

pool:
  vmImage: "Ubuntu-22.04"

steps:
  - checkout: self
    persistCredentials: true
  - checkout: Service
    persistCredentials: true
    clean: true
    fetchDepth: 1
  - checkout: Utils
    persistCredentials: true
    clean: true
    fetchDepth: 1

  - task: NodeTool@0
    inputs:
      versionSpec: "18.x"

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/"
      Contents: "package.json"
      TargetFolder: "$(Build.SourcesDirectory)/Temp/"
      OverWrite: true

  - task: Cache@2
    inputs:
      key: 'npm-cache-analytics | "$(Build.SourcesDirectory)/Temp/package.json"'
      path: $(Build.SourcesDirectory)/$(AnalyticsRepoName)/node_modules
      cacheHitVar: NPM_CACHE_RESTORED

  - task: Npm@1
    inputs:
      command: custom
      customCommand: install --legacy-peer-deps
      workingDir: $(Build.SourcesDirectory)/$(AnalyticsRepoName)
    condition: ne(variables.NPM_CACHE_RESTORED, 'true')

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run lint
  
  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run pwinst

  - task: DownloadBuildArtifacts@0
    inputs:
      buildType: "specific"
      project: "af2804d2-859a-4705-9ef5-cdf46d1d5d4f"
      pipeline: "56"
      specificBuildWithTriggering: true
      buildVersionToDownload: "latest"
      downloadType: "single"
      artifactName: "SurveyJSLibraryBuildCore"
      downloadPath: "$(System.ArtifactsDirectory)"

  - script: |
      rm -rf $(Build.SourcesDirectory)/$(AnalyticsRepoName)/node_modules/survey-core

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(System.ArtifactsDirectory)/SurveyJSLibraryBuildCore/packages/survey-core"
      Contents: "**"
      TargetFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/node_modules/survey-core"
      OverWrite: true

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(System.ArtifactsDirectory)/SurveyJSLibraryBuildCore/"
      Contents: "version.txt"
      TargetFolder: "$(Build.SourcesDirectory)/"
      OverWrite: true

  - powershell: |
      $version = Get-Content $(Build.SourcesDirectory)/version.txt
      Write-Host "##vso[task.setvariable variable=SurveyJSVersion;]$version"

  - powershell: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run release -- --release-as $(SurveyJSVersion)

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run build:all
      npm run build:types:summary:core
      npm run build:types:summary
      npm run build:types:tabulator

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm test
      npm run e2e:ci

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/*coverage.xml"

  - task: PublishTestResults@2
    inputs:
      searchFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/test-results"
      testResultsFormat: "JUnit"
      testResultsFiles: "e2e-junit-results.xml"
      mergeTestResults: true
      failTaskOnFailedTests: true
    condition: succeededOrFailed()

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run doc:gen

  - powershell: |
      $branch = "$(CurrentBranch)"
      $servicePath = "$(Build.SourcesDirectory)/$(ServiceRepoName)"
      $generatedPath = "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/docs"
      $targetPath = "$servicePath/surveyjs.io/App_Data/DocsAnalytics"
      cd $servicePath
      git config user.email "surveyjs.org@gmail.com"
      git config user.name "surveyjsdeveloper"
      git fetch origin $branch
      git checkout -B $branch origin/$branch
      git reset --hard origin/$branch
      if (!(Test-Path $targetPath)) { New-Item -ItemType Directory -Path $targetPath }
      Copy-Item -Path "$generatedPath/classes.json", "$generatedPath/pmes.json", "$generatedPath/surveyjs_definition.json" -Destination $targetPath -Force
      git add surveyjs.io/App_Data/DocsAnalytics
      if (git status --porcelain) {
          git commit -m "updated analytics docs for $branch [azurepipelines skip]"
          git push origin $branch
      }

  - script: |
      cd $(Build.SourcesDirectory)/$(UtilsRepoName)
      npm install
      npm run build
      node ./dist/translateAnalytics.js

  - powershell: |
      $branch = "$(CurrentBranch)"
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      git config user.email "surveyjs.org@gmail.com"
      git config user.name "surveyjsdeveloper"
      git fetch origin $branch
      git checkout -B $branch origin/$branch
      git add src/analytics-localization
      if (git status --porcelain) {
          git commit -m "updated analytics translations for $branch [azurepipelines skip]"
          git push origin $branch
      }

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/docs"
      Contents: "surveyjs_definition.json"
      TargetFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/build"
      OverWrite: true

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/build"
      targetFolder: $(Build.ArtifactStagingDirectory)/SurveyJSAnalyticsBuild/packages/survey-analytics

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)/SurveyJSAnalyticsBuild/"
      ArtifactName: "SurveyJSAnalyticsBuild"