name: $(Date:yyyyMMdd).$(Rev:r)_$(Build.SourceBranchName)

variables:
  CurrentBranch: $(Build.SourceBranchName)
  AnalyticsRepoName: "survey-analytics"
  ServiceRepoName: "service"
  UtilsRepoName: "survey-utils"

trigger:
  batch: true
  branches:
    include:
      - master
      - V3
  tags:
    exclude:
      - v*.*.*

pr: none

resources:
  repositories:
    - repository: Service
      type: github
      endpoint: github.com_surveyjsdeveloper
      name: surveyjs/service
    - repository: Utils
      type: github
      endpoint: github.com_surveyjsdeveloper
      name: surveyjs/survey-utils
  pipelines:
    - pipeline: LibraryTrigger
      source: 'Main/Library'
      trigger:
        branches:
          include:
            - master
            - V3

pool:
  vmImage: "Ubuntu-22.04"

steps:
  - checkout: self
    persistCredentials: true
    displayName: "Checkout Analytics"

  - checkout: Service
    persistCredentials: true
    clean: true
    fetchDepth: 1
    displayName: "Checkout Service"

  - checkout: Utils
    persistCredentials: true
    clean: true
    fetchDepth: 1
    displayName: "Checkout Utils"

  - task: NodeTool@0
    inputs:
      versionSpec: "18.x"
    displayName: "Install Node.js"

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/"
      Contents: "package.json"
      TargetFolder: "$(Build.SourcesDirectory)/Temp/"
      OverWrite: true
    displayName: "Copy package.json for cache key"

  - task: Cache@2
    inputs:
      key: 'npm-cache-analytics | "$(Build.SourcesDirectory)/Temp/package.json"'
      path: $(Build.SourcesDirectory)/$(AnalyticsRepoName)/node_modules
      cacheHitVar: NPM_CACHE_RESTORED
    displayName: "Cache NPM"

  - powershell: |
      $env:GIT_REDIRECT_STDERR = '2>&1'
      git config --global user.email "surveyjs.org@gmail.com"
      git config --global user.name "surveyjsdeveloper"
    displayName: "Set up Git config"

  - task: Npm@1
    inputs:
      command: custom
      customCommand: install --legacy-peer-deps
      verbose: false
      workingDir: $(Build.SourcesDirectory)/$(AnalyticsRepoName)
    condition: ne(variables.NPM_CACHE_RESTORED, 'true')
    displayName: "NPM install"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run lint
    displayName: "run lint command"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run pwinst
    displayName: "Install chrome playwright"

  - task: DownloadBuildArtifacts@0
    inputs:
      buildType: "specific"
      project: "af2804d2-859a-4705-9ef5-cdf46d1d5d4f"
      pipeline: "56"
      specificBuildWithTriggering: true
      buildVersionToDownload: "latest"
      downloadType: "single"
      artifactName: "SurveyJSLibraryBuildCore"
      downloadPath: "$(System.ArtifactsDirectory)"
    displayName: "Download SurveyJS Library Artifacts"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)/node_modules
      rm -rf survey-core
    displayName: "remove survey-core symlink from node_modules"

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(System.ArtifactsDirectory)/SurveyJSLibraryBuildCore/packages/survey-core"
      Contents: "**"
      TargetFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/node_modules/survey-core"
      OverWrite: true
    displayName: "Inject survey-core from Artifacts"

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(System.ArtifactsDirectory)/SurveyJSLibraryBuildCore/"
      Contents: "version.txt"
      TargetFolder: "$(Build.SourcesDirectory)/"
      OverWrite: true
    displayName: "Copy Build Artifact - SurveyJSVersion File"

  - powershell: |
      $version = Get-Content $(Build.SourcesDirectory)/version.txt
      Write-Host "##vso[task.setvariable variable=SurveyJSVersion;]$version"
    displayName: "setup SurveyJSVersion variable from SurveyJSVersionFile"

  - powershell: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run release -- --release-as $(SurveyJSVersion)
    displayName: "npm run release specific version"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run build:all
    displayName: "NPM build"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run build:types:summary:core
      npm run build:types:summary
      npm run build:types:tabulator
    displayName: "NPM build typings"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm test
    displayName: "Run unit tests"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run e2e:ci
    displayName: "Run E2E tests"

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/*coverage.xml"
      reportDirectory: "$(System.DefaultWorkingDirectory)/**/coverage"
    displayName: "Publish code coverage results"

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/test-results"
      ArtifactName: "e2e"
      publishLocation: "Container"
    condition: always()
    displayName: "Publish E2E artifacts"

  - task: PublishTestResults@2
    inputs:
      searchFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/test-results"
      testResultsFormat: "JUnit"
      testResultsFiles: "e2e-junit-results.xml"
      mergeTestResults: true
      failTaskOnFailedTests: true
      testRunTitle: "Publish E2E test results"
    condition: succeededOrFailed()
    displayName: "Publish e2e test results"

  - script: |
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      npm run doc:gen
    displayName: "Generate docs"

  - powershell: |
      $branch = "$(CurrentBranch)"
      $servicePath = "$(Build.SourcesDirectory)/$(ServiceRepoName)"
      $generatedPath = "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/docs"
      $targetPath = "$servicePath/surveyjs.io/App_Data/DocsAnalytics"
      
      cd $servicePath
      git config user.email "surveyjs.org@gmail.com"
      git config user.name "surveyjsdeveloper"
      git fetch origin $branch
      git checkout -B $branch origin/$branch
      git reset --hard origin/$branch

      if (!(Test-Path $targetPath)) { New-Item -ItemType Directory -Path $targetPath }

      $files = @("classes.json", "pmes.json", "surveyjs_definition.json")
      foreach ($f in $files) {
          $src = "$generatedPath/$f"
          if (Test-Path $src) {
              Copy-Item -Path $src -Destination $targetPath -Force
          }
      }

      git add surveyjs.io/App_Data/DocsAnalytics
      if (git status --porcelain) {
          git commit -m "updated analytics docs for $branch [azurepipelines skip]"
          git push origin $branch
      }
    displayName: "Git surveyjs/service push updated docs for $(CurrentBranch)"

  - script: |
      cd $(Build.SourcesDirectory)/$(UtilsRepoName)
      npm install
    displayName: "NPM install survey-utils"

  - script: |
      cd $(Build.SourcesDirectory)/$(UtilsRepoName)
      npm run build
    displayName: "survey-utils build"

  - script: |
      cd $(Build.SourcesDirectory)/$(UtilsRepoName)
      node ./dist/translateAnalytics.js
    displayName: "survey-utils translate analytics"

  - powershell: |
      $branch = "$(CurrentBranch)"
      cd $(Build.SourcesDirectory)/$(AnalyticsRepoName)
      git config user.email "surveyjs.org@gmail.com"
      git config user.name "surveyjsdeveloper"
      git fetch origin $branch
      git checkout -B $branch origin/$branch
      
      git add src/analytics-localization
      if (git status --porcelain) {
          git commit -m "updated analytics translations for $branch [azurepipelines skip]"
          git push origin $branch
      }
    displayName: "Analytics - push updated translation to github for $(CurrentBranch)"

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/docs"
      Contents: "surveyjs_definition.json"
      TargetFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/build"
      OverWrite: true
      CleanTargetFolder: false
    displayName: "put surveyjs_definition.json into build"
    continueOnError: true

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(Build.SourcesDirectory)/$(AnalyticsRepoName)/build"
      targetFolder: $(Build.ArtifactStagingDirectory)/SurveyJSAnalyticsBuild/packages/survey-analytics
    displayName: "Copy Analytics Build to staging"

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)/SurveyJSAnalyticsBuild/"
      ArtifactName: "SurveyJSAnalyticsBuild"
      publishLocation: "Container"
    displayName: "Publish SurveyJSAnalyticsBuild Artifact"